{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Would you like to
        </h1>{{releaseVersion | log }}

        <form action="/unit_amend_or_create_selection" method="post" class="form">

            {% from "radios/macro.njk" import govukRadios %}

            {{ govukRadios({
            idPrefix: "where-do-you-live",
            name: "unit_create_or_amend",
            fieldset: {
            legend: {
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
            }
            },
            items: [
            {
            value: "unit-create",
            text: "create a new unit"
            },
            {
            value: "unit_amend",
            text: "amend an existing unit"
            }
            ]
            }) }}
            {% from "button/macro.njk" import govukButton %}

            {{ govukButton({
            text: "Continue"
            }) }}

        </form>

    </div>


</div>

{% endblock %}



